@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body {
  display: grid;
  height: 100vh;
  width: 100%;
  place-items: center;
  background: linear-gradient(to right, #e6a1ff 0%, #a5b3ff 100%);  /* Легкий фиолетовый градиент */
}

.container {
  background: #fff;
  max-width: 350px;
  width: 100%;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);  /* Более мягкая тень */
}

.formWrapper {
  width: 100%;
}

.title {
  font-size: 30px;
  font-weight: 600;
  margin: 20px 0 10px 0;
  position: relative;
}

.title::before {
  content: '';
  position: absolute;
  height: 4px;
  width: 33px;
  left: 0px;
  bottom: 3px;
  border-radius: 5px;
  background: linear-gradient(to right, #d89eff 0%, #c1d2ff 100%);  /* Легкий градиент для подчеркивания */
}

.inputBox {
  width: 100%;
  margin-top: 25px;
  position: relative;
}

.input {
  width: 100%;
  height: 45px;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  background: #f9f9f9;  /* Светлый фон для поля ввода */
}

.input:focus {
  outline: none;
  border-color: #a5b3ff;  /* Светлый синий цвет для фокуса */
}

.input::placeholder {
  color: #aaa;
}

.input:focus::placeholder {
  color: #a5b3ff;  /* Цвет placeholder при фокусе */
}

.buttonContainer {
  margin-top: 30px;
}

.submitButton {
  background: linear-gradient(to right, #c1d2ff 0%, #a5b3ff 100%);  /* Легкий синий градиент */
  color: #fff;
  border-radius: 5px;
  padding: 12px;
  font-size: 16px;
  width: 100%;
  border: none;
  transition: all 0.3s ease;
}

.submitButton:hover {
  background: linear-gradient(to left, #c1d2ff 0%, #a5b3ff 100%);
  letter-spacing: 1px;
}





